<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="valantic-cordova-plugin-zebra-printer"
    version="1.0.0">

    <name>valantic-cordova-plugin-zebra-printer</name>
    <description>Cordova plugin for Zebra Link-OS printers (WiFi/Bluetooth)</description>
    <license>MIT</license>
    <keywords>cordova, zebra, printer, link-os, valantic</keywords>

    <js-module src="www/ZebraPrinter.js" name="ZebraPrinter">
        <clobbers target="ZebraPrinter"/>
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZebraPrinterPlugin">
                <param name="android-package" value="com.valantic.zebraprinter.ZebraPrinterPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

          <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>

        <lib-file src="src/android/libs/ZSDK_ANDROID_API.jar"/>

        <source-file
            src="src/android/ZebraPrinterPlugin.java"
            target-dir="src/com/valantic/zebraprinter"/>
    </platform>

    <!--<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ZebraPrinter">
                <param name="ios-package" value="ZebraPrinter"/>
            </feature>
        </config-file>

        <framework src="src/ios/xcframework/ZSDK_API.xcframework" custom="true" embed="true" />
        <framework src="src/ios/FATLib/libZSDK_API.a" custom="true" />

        <header-file src="src/ios/FATLib/include/DiscoveredPrinter.h" />
        <header-file src="src/ios/FATLib/include/DiscoveredPrinterNetwork.h" />
        <header-file src="src/ios/FATLib/include/FieldDescriptionData.h" />
        <header-file src="src/ios/FATLib/include/FileUtil.h" />
        <header-file src="src/ios/FATLib/include/FormatUtil.h" />
        <header-file src="src/ios/FATLib/include/GraphicsUtil.h" />
        <header-file src="src/ios/FATLib/include/MagCardReader.h" />
        <header-file src="src/ios/FATLib/include/MfiBtPrinterConnection.h" />
        <header-file src="src/ios/FATLib/include/NetworkDiscoverer.h" />
        <header-file src="src/ios/FATLib/include/PrinterStatus.h" />
        <header-file src="src/ios/FATLib/include/PrinterStatusMessages.h" />
        <header-file src="src/ios/FATLib/include/ResponseValidator.h" />
        <header-file src="src/ios/FATLib/include/SGD.h" />
        <header-file src="src/ios/FATLib/include/SmartCardReader.h" />
        <header-file src="src/ios/FATLib/include/TcpPrinterConnection.h" />
        <header-file src="src/ios/FATLib/include/ToolsUtil.h" />
        <header-file src="src/ios/FATLib/include/ZebraErrorCode.h" />
        <header-file src="src/ios/FATLib/include/ZebraPrinter.h" />
        <header-file src="src/ios/FATLib/include/ZebraPrinterConnection.h" />
        <header-file src="src/ios/FATLib/include/ZebraPrinterFactory.h" />
        <header-file src="src/ios/FATLib/include/ZplPrintMode.h" />

        <header-file src="src/ios/ZebraPrinterPlugin.h" />
        <source-file src="src/ios/ZebraPrinterPlugin.m" />
    </platform> -->

</plugin>
